<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">BioDiv</a></li>
                    <li class="breadcrumb-item depth01"><a href="javascript: void(0);">@@subtitle</a></li>
                    <li class="breadcrumb-item depth02"><a href="javascript: void(0);">@@title</a></li>
                    <li class="breadcrumb-item category2"><a href="javascript: void(0);">@@category2</a></li>
                </ol>
            </div>
            <h4 class="page-title"><span class="category1">@@title</span><span class="category2">@@category2</span></h4>
        </div>
    </div>
</div>