<meta charset="utf-8" />
<title>BioDiv</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="BioDiv">
<meta property="og:description" content="BioDiv">
<meta property="og:type" content="website">
<meta property="og:image" content="assets/images/kakaotalk_img.png">
<meta content="BioDiv" name="Title" />
<meta content="BioDiv" name="Description">
<meta content="BioDiv" name="Keyword">
<!-- App favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">